*{  
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-select:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
} 
input{  
    -webkit-user-select:auto; /*webkit浏览器*/     
}
textarea{
    -webkit-user-select:auto; /*webkit浏览器*/
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: '微软雅黑';
}
#loading{
    width: 100%;
    height: 100%;
    font-size: 0.3rem;
    color: #fff;
    z-index: 9999;
}
#loading img{
    margin: 0 auto;
    width: 20%;
    z-index: 9999
}
header{
    width: 100%;
    border-bottom: 0.3px solid #e4e4e4;
    background: #fff;
}
.head{
    width: 100%;
    margin:0 auto;
    height: 4rem;
    line-height: 4rem;
}
.head img{
    margin: 0 auto;
    vertical-align:middle;

}
.head_top{
    padding: 0 0.2rem;
    background-color: #fff;
    position: relative;
    padding-top: 0.1rem;

}
.head_top p:nth-of-type(1){
    color: #999;
    font-size: 0.35rem;
    line-height: 0.45rem;
    padding: 0.1rem 0;
    font-weight: bold;
}

.head_top p:nth-of-type(2) a img{
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    margin-left: 0.1rem;
    margin-top: -0.1rem;
}
.head_top p:nth-of-type(2){
    color: #999;
    font-size: 0.27rem;
    line-height: 0.45rem;
    margin-top: 0.1rem;
}
.head_top p:nth-of-type(2) span:nth-of-type(2){
    color: #FD6363;
    margin-left: 0.8rem;
    font-size: 0.32rem;
}
.head_top p:nth-of-type(2) span:nth-of-type(2) a{
    color: #FD6363;
}
.head_top p:nth-of-type(3){
    color: #999;
    font-size: 0.27rem;
    line-height: 0.45rem;
}
.head_top p:nth-of-type(3) span:nth-of-type(2){
    color: #FD6363;
    margin-left: 1.88rem;
    font-size: 0.32rem;
}
.head_top p:nth-of-type(4){
    color: #999;
    font-size: 0.27rem;
    line-height: 0.45rem;
}
.head_top p:nth-of-type(4) span:nth-of-type(2){
    color: #FD6363;
    margin-left: 2.16rem;
    font-size: 0.32rem;
}
.head_top p:nth-of-type(5){
    color: #999;
    font-size: 0.22rem;
    line-height: 0.35rem;
    margin-top:0.15rem;
}
.head_top p:nth-of-type(6) span{
    color: #999;
    font-size:0.22rem;
    line-height: 0.35rem;
}
.head_top p:nth-of-type(6){
    padding-bottom:0.05rem;
}
.head_top p:nth-of-type(7){
    padding-bottom: 0.2rem;
}
.head_top p:nth-of-type(7) span{
    color: #999;
    font-size:0.22rem;
    line-height: 0.2rem;
}
.head_top p:nth-of-type(7) span:nth-of-type(2){
     margin-left: -0.03rem;
}
.head_top p:nth-of-type(7) span:nth-of-type(3){
    margin-left: 0.45rem;
}
.main{
    width: 100%;
}
.canshu p:nth-of-type(1){
    height: 1rem;
    background: url(../img/4.png);
    background-repeat: no-repeat;
    background-size: 33% 80%;
    color: #fff;
    padding-left: 0.89rem;
    font-size: 0.3rem;
    line-height: 0.8rem;
    margin-top: 0.2rem;
}
.canshu ul{
    background-color: #fff;
    padding:0.2rem 0.2rem;
}
.canshu ul li{
    margin-bottom: 0.04rem;
    font-size: 0.3rem;
    display: -webkit-box;
}
.canshu ul li span{
    display: block;
}
.canshu ul li span:nth-of-type(1){
    width: 25%;
    height: 0.7rem;
    background-color: #FF9D40;
    line-height: 0.7rem;
    text-align: center;
}
.canshu ul li span:nth-of-type(2){
    width: 70.5%;
    height: 0.7rem;
    background-color: #FFF8E0;
    line-height: 0.7rem;
    padding-left: 0.3rem;
}
.miaoshu p:nth-of-type(1){
    height: 1rem;
    background: url(../img/4.png);
    background-repeat: no-repeat;
    background-size: 33% 80%;
    color: #fff;
    padding-left: 0.89rem;
    font-size: 0.3rem;
    line-height: 0.8rem;
    margin-top: 0.2rem;
}
.miaoshu ul li img{
    width: 100%;
    margin:0 auto;
}
.tonglei p:nth-of-type(1).tong{
    height: 1rem;
    background: url(../img/5.png);
    background-repeat: no-repeat;
    background-size: 33% 80%;
    color: #fff;
    padding-left: 0.89rem;
    font-size: 0.3rem;
    line-height: 0.8rem;
    margin-top: 0.2rem;
}
.tonglei ul{
    display: -webkit-box;
    padding: 0 0.1rem;
    margin-bottom:0.1rem;
}
.tonglei ul li{
    -webkit-box-flex:1;
    width: 46%;
    display: block;
    padding: 0 0.05rem;
}
.tonglei ul li dl{
    background: #fff;
    height: 3.8rem;
    border-bottom: 0.7px solid #e4e4e4;
}
.tonglei ul li dl dt{
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    padding-top: 0.2rem;
}
.tonglei ul li dl dt img{
    margin: 0 auto;
    vertical-align:middle;
}
.tonglei ul li dl dd{
    padding-left: 0.2rem;
    margin-top: 0.2rem;
    position: relative;
    height: 2.3rem;
}
.tonglei ul li dl dd p:nth-of-type(1){
    color: #666;
    padding: 0.1rem 0;
    font-size: 0.27rem;
}
.tonglei ul li dl dd p:nth-of-type(2) span:nth-of-type(1){
    
    position: absolute;
    bottom: 0.9rem;
}
.tonglei ul li dl dd p:nth-of-type(2) span:nth-of-type(1) a:nth-of-type(1){
    font-size: 0.25rem;
    color: #FD6363;
}
.tonglei ul li dl dd p:nth-of-type(2) span:nth-of-type(1) a:nth-of-type(2){
    color: #FD6363;
    font-size: 0.3rem;
    line-height: 0.5rem;
    
}
.tonglei ul li dl dd p:nth-of-type(2) span:nth-of-type(2) {
    font-size: 0.25rem;
    color: #FD6363;
}
.tonglei ul li dl dd p:nth-of-type(2) span:nth-of-type(2){
    color: #999;
    font-size: 0.2rem;
    line-height: 0.4rem;
    position: absolute;
    bottom: 0.91rem;
    right: 0.2rem;
}
.foot_top{
    padding-bottom: 0.3rem;
}
.foot_top img{
    width: 100%;
    margin:0 auto;
}
.cuowu{
    text-align: center;
    margin-top: 6rem;
    font-size: 0.3rem;
    color: #333;
}

  


