html,body{
	
	font-size: 14px;
}
.back{
	margin-left: 0.3rem;
	margin-bottom:0.1rem;
}
.top{
	width: 100%;
	font-weight: bold;
	z-index: 1;
	padding-bottom: 0.1rem;
	background-color: #fff;
}
.top p{
	background-color: #6795B4;
	height: 0.25rem;
}
.back{
	margin-top: 0.05rem;
}
.top ul{
	padding-top: 0.1rem;
	display: -webkit-box;
}
.top ul li{
	width: 12.43%;
	display: block;
	text-align: center;
}
.middle{
	border-top: 1px solid #999;
	border-left: 1px solid #999;
}
.middle ul{
	display: -webkit-box;
}
.middle ul li{
	width: 12.43%;
	height: 0.2rem;
	padding-top: 0.2rem;
	display: block;
	text-align: center;
	padding-bottom:0.1rem;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}
#pageUl{
	margin-left: 3rem;
}
.membercont{
	color: red;
}
.dropload-down{
	position: fixed;
	bottom: 0;
	left: 3.5rem;
}


















