*{  
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
    -webkit-user-select:none; /*webkit浏览器*/   
    -khtml-user-sel
    ect:none; /*早期浏览器*/   
    -moz-user-select:none;/*火狐*/   
    -ms-user-select:none; /*IE10*/   
    user-select:none;   
} 
input{  
    -webkit-user-select:auto; /*webkit浏览器*/     
}
textarea{
    -webkit-user-select:auto; /*webkit浏览器*/
}
html,body{
	width: 100%;
	height: 100%; 
	font-family: '微软雅黑';
	-webkit-tap-highlight-color:rgba(255,255,255,0)
}
.wrap{
	width: 100%;
	padding-bottom: 1rem;
}
.head{
	width: 100%;
	height: 5rem;
	position: relative;
	background: #fffaef;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.head span{
	
	margin-top: 0.05rem;
	display: inline-block;
    margin-top: -0.47rem;
    position: relative;
}
.head span:nth-of-type(1){
	margin-top: 0.07rem;
}
.head span:nth-of-type(6){
	padding-left: 0.75rem;
}
.head span:nth-of-type(15){
	padding-left: 0.73rem;
}
.head span:nth-of-type(24){
	padding-left: 0.73rem;
}
.head span:nth-of-type(33){
	padding-left: 0.73rem;
}
.head span:nth-of-type(42){
	padding-left: 0.73rem;
}
.head span:nth-of-type(51){
	padding-left: 0.73rem;
}
.head span:nth-of-type(60){
	padding-left: 0.73rem;
}
.head span:nth-of-type(69){
	padding-left: 0.73rem;
}
.head span:nth-of-type(78){
	padding-left: 0.73rem;
}
.head span:nth-of-type(87){
	padding-left: 0.73rem;
}
.head span:nth-of-type(96){
	padding-left: 0.73rem;
}
.head span:nth-of-type(105){
	padding-left: 0.73rem;
}
.head span:nth-of-type(114){
	padding-left: 0.73rem;
}
.head span:nth-of-type(123){
	padding-left: 0.73rem;
}
.head span:nth-of-type(132){
	padding-left: 0.73rem;
}
.head span:nth-of-type(141){
    padding-left: 0.73rem;
}
.head span:nth-of-type(150){
    padding-left: 0.73rem;
}
.head span:nth-of-type(159){
    padding-left: 0.73rem;
}
.head span:nth-of-type(168){
    padding-left: 0.73rem;
}
.head span:nth-of-type(177){
    padding-left: 0.73rem;
}
.head span:nth-of-type(186){
    padding-left: 0.73rem;
}
.head span:nth-of-type(195){
    padding-left: 0.73rem;
}
.head span:nth-of-type(204){
    padding-left: 0.73rem;
}
.head span:nth-of-type(213){
    padding-left: 0.73rem;
}
.head span:nth-of-type(222){
    padding-left: 0.73rem;
}
.head span:nth-of-type(231){
    padding-left: 0.73rem;
}
.head span:nth-of-type(240){
    padding-left: 0.73rem;
}
.head span:nth-of-type(249){
    padding-left: 0.73rem;
}
.head span:nth-of-type(258){
    padding-left: 0.73rem;
}
.head span:nth-of-type(267){
    padding-left: 0.73rem;
}
.head span:nth-of-type(276){
    padding-left: 0.73rem;
}
.head span:nth-of-type(285){
    padding-left: 0.73rem;
}
.head span:nth-of-type(294){
    padding-left: 0.73rem;
}
.head span:nth-of-type(303){
    padding-left: 0.73rem;
}
.head span:nth-of-type(312){
    padding-left: 0.73rem;
}
.head span:nth-of-type(321){
    padding-left: 0.73rem;
}
.head span:nth-of-type(330){
    padding-left: 0.73rem;
}
.head span:nth-of-type(339){
    padding-left: 0.73rem;
}
.head span:nth-of-type(348){
    padding-left: 0.73rem;
}
.head img{
	width: 1rem;
    height: 1rem;
    margin: 0.12rem 0rem 0 0.23rem;
    border-radius: 30px;
}
.head span:nth-of-type(6) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(6) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(6) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(15) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(15) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(15) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
  
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(24) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(24) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(24) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(33) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(33) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(33) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(42) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(42) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(42) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(51) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(51) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(51) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(60) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(60) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(60) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(69) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(69) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(69) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(78) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(78) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(78) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(87) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(87) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(87) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(96) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(96) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(96) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(105) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(105) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(105) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(114) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(114) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(114) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(123) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(123) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(123) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(132) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(132) a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(132) a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(141) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(141) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(141) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(150) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(150) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(150) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(168) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(168) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(168) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(177) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(177) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(177) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(186) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(186) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(186) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(195) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(195) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(195) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(204) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(204) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(204) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(213) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(213) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(213) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(222) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(222) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(222) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(231) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(231) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(231) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(240) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(240) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(240) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(249) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(249) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(249) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(258) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(258) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(258) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(267) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(267) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(267) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(276) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(276) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(276) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(285) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(285) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(285) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(294) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(294) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(294) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(303) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(303) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(303) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(312) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(312) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(312) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(321) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(321) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(321) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(330) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(330) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(330) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(339) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(339) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(339) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head span:nth-of-type(348) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #7534e3;
}
.head .zhong:nth-of-type(348) a:nth-of-type(3){
    position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0.73rem;
    background: #ffde98;
}
.head span:nth-of-type(348) a:nth-of-type(2){
    position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
    width: 1.4rem;
    text-align: center;
    left: 0.75rem;
    overflow: hidden;
}
.head .zhong a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0rem;
    background: #ffde98;
    color: #ff5a49;
    text-align: center;
    line-height: 0.3rem;
}
.head span a:nth-of-type(2){
	position: absolute;
    top: 1.25rem;
    font-size: 0.17rem;
   	width: 1.4rem;
    text-align: center;
    left: 0.1rem;
    overflow: hidden;
    color: #fff;
}

.head span a:nth-of-type(3){
	position: absolute;
    width: 1.5rem;
    font-size: 0.17rem;
    top: 1rem;
    left: 0rem;
    background: #7534e3;
    color: #fff;
    text-align: center;
    line-height: 0.3rem;
}

/*.zhong a{
	width: 1.2rem;
	height: 1.2rem;
	display: inline-block;
}
.zhong a img{
	width: 80%;
	margin: 0.05rem 0.1rem 0 0.08rem;
    border-radius: 30px;
}
.hui a{
	width: 1.2rem;
	height: 1.5rem;
	display: inline-block;
}
.hui a img{
	width: 80%;
	margin: 0.05rem 0.1rem 0 0.08rem;
    border-radius: 30px;
}*/
.zhe{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 4;
	position: absolute;
}
.allow{
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 3.4rem;
}
.allow p{
	width: 70%;
	height: 3.6rem;
	margin:0 auto;
	background: url(../img/49.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
	padding-top: 1.7rem;
}
.allow p span{
	font-size: 0.3rem;
	color: #fff;
}
.allow a{
	position: absolute;
    top: -0.6rem;
    right: 0.8rem;
    width: 1.3rem;
    height: 1.3rem;
}
.show{
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 4.4rem;
}
.show p{
	width: 70%;
	height: 1.2rem;
	line-height: 1.2rem;
	margin:0 auto;
	background: url(../img/49.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
	color: #333;
	border-radius: 8px;
	font-size: 0.35rem;
}
.show .clos{
	position: absolute;
    top: -0.2rem;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
}
.ovfHiden{
	overflow: hidden;
	height: 100%;
}
.headyaoqing{
	width:100%;
	text-align: center;
	position: absolute;
	top: 2.6rem;
	font-size: 0.3rem;
	font-weight: bold;
	letter-spacing:0.02rem;
	color: #333;
}
.headtiyan{
	width: 100%;
    text-align: center;
    position: absolute;
    top: 3.1rem;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: #333;
}
.main{
	width: 100%;
	background: #fffaef;
}
.box{
	width: 100%;
	text-align: center;
}
.box input{
	width: 80%;
	height: 1.1rem;
	border-radius: 80px;
	font-size: 0.45rem;
	margin-top: 0.5rem;
	border: 1px solid #28BBEC;
	text-align: center;
	color: #28BBEC;
}
.box p{
	text-align: center;
	font-size: 0.25rem;
	margin-top: 0.1rem;
}
.box p a:nth-of-type(1){
	color: #999;
}
.box p a:nth-of-type(2){
	color: #28BBEC;
}
.box1{
	text-align: center;
	font-size: 0.35rem;
	color:#333;
	background: url(../img/44.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    padding: 0.2rem;
    margin: 0.2rem 0.3rem;
}
.box1 input{
	width: 91%;
	height: 1rem;
	border-radius: 30px;
	font-size: 0.3rem;
	margin-top: 0.5rem;
	border:none;
	text-align: center;
	color: #333;

}
.box1 p{
	text-align: center;
	font-size: 0.25rem;
	margin-top: 0.1rem;
	color: #999;
}
.bottom{
	width: 100%;
}
#btn{
	width: 91%;
	display: block;
	margin: 0 auto;
	background-color: #ffaa4f;
	padding: 0.3rem 0.2rem;
	border-radius: 20px;
	text-align: center;
	color: #FFF;
	font-size: 0.3rem;
	border: none;
	margin-top:0.4rem;
}
#bnt{
	width: 86%;
	display: block;
	margin: 0 auto;
	background-color: #FD6363;
	padding: 0.3rem 0.2rem;
	border-radius: 20px;
	text-align: center;
	color: #FFF;
	font-size: 0.3rem;
	border: none;
	margin-top:0.4rem;
}
.inviteuser{
	width: 100%;
	margin-top:1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.8rem;
	background-color: #FFF8D1;
}
.nopic{
	width: 100%;
	display: none;
}
.nopic img{
	width: 40%;
	margin:0.3rem auto;
}
.userhead{
	width: 90%;
	margin:0 auto;
	font-size: 0.36rem;
	color: #000;
	display: -webkit-box;
}
.userhead span{
	display: block;
}
.userhead span img{
	width: 1.85rem;
    display: block;
    margin-top: 0.17rem;
}
.userhead span:nth-of-type(2){
	margin-left: 0.3rem;
	margin-right: 0.3rem;
}
.dlbox{
	width: 80%;
	margin:0 auto;
}
.dlbox dl{
	display: -webkit-box;
	margin-top: 0.6rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #333;
}
.dlbox dl dt img{
	border-radius: 30px;
}
.dlbox dl dd{
	margin-left: 0.4rem;
}
.dlbox dl dd span:nth-of-type(1){
	font-size: 0.4rem;
	color: #283032;
}
.dlbox dl dd span:nth-of-type(2){
	font-size: 0.3rem;
	margin-left: 0.2rem;
	color: #666;
}
.dlbox dl dd p{
	font-size: 0.3rem;
	color: #283032;
}
.foot{
	width: 100%;
	margin-top: 0.3rem;
	padding-bottom: 0.3rem;
	text-align: center;
	position: relative;
}
.foot a{
	color:#FD6363 ;
	font-size: 0.35rem;
}
.dpic{
	width: 100%;
	margin-top: 0.4rem;
	padding-bottom: 1rem;
}
.dpic img{
	margin: 0 auto;
	margin-bottom: 1.5rem;
	width: 76%;
}
.mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: #000;
	opacity: .8;
	z-index: 100;	
}
.tipContainer {
	display: none;
	width: 100%;
	position: fixed;
	top: 0.15rem;
	z-index: 1000;
}
.tipContainer img {
	width: 1rem;
	height: 1.3rem;
	position: fixed;
	top: 0.3rem;
	left: 5rem;
	margin-right: 0.18rem;
}

.tipContainer p {
	font-size: 16px;
	color: #fff;
	margin-left: 0.2rem;
}
.tipContainer p:nth-of-type(1){
	margin-top: 1.6rem;
}
.tipContainer p:nth-of-type(2){
	margin-top: 1.6rem;
}

.tipContainer p em {
	color: #ffd800;
	font-style: inherit
}
.footimg{
	position: fixed;
	bottom: 0;
}
.footimg p{
	width: 100%;
	display:-webkit-box;
	background-color: #fff7dd;
	height: 1.2rem;
}
.footimg p span{
	display: block;
}
.footimg p span:nth-of-type(1){
	padding:0.05rem 0;
}
.footimg p span:nth-of-type(2){
	margin-left: 32%;
	background-color: #fff7dd;
	padding:0.05rem 0;
}
.footimg p span:nth-of-type(1) img{
	width: 75%;
    margin-top: 0.2rem;
    margin-left: 0.32rem;
}
.footimg p span:nth-of-type(2) img{
	width: 81%;
    margin-top: 0.3rem;
}

.userbox{
	width: 100%;
    height: 2rem;
    overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding-top: 0.1rem;
}
.userbox span{
	position: relative;
    display: inline-block;
    margin: 0 0.12rem;
    margin-bottom: 0.3rem;
    width: 1.6rem;
    height: 1.3rem;
    overflow: hidden;
}
.userbox span:nth-of-type(1){
	padding-top: 0.2rem;
}

.userbox span:nth-of-type(1) a:nth-of-type(2) img{
	width: 0.5rem;
	height: 0.23rem;
	position: absolute;
	top: 0.1rem;
	    left: 0.2rem;
}
.userbox span:nth-of-type(1) b{
	position: absolute;
    top: 0.9rem;
    right: 0.03rem;
}
.userbox span:nth-of-type(1) a:nth-of-type(3){
	position: absolute;
	top: 1.1rem;
	width: 1.6rem;
	overflow: hidden;
	text-align: center;
    margin-left: -0.13rem;
}
.userbox span a:nth-of-type(1){
	position: relative;
}
.userbox span a:nth-of-type(1) .useraa{
	width: 0.8rem;
	height: 0.8rem;
	margin:0 auto;
	border-radius: 100px;
	
}
.userbox span a:nth-of-type(1) .moneyaa{
	display: block;
    width: 0.7rem;
    height: 0.3rem;
	margin-left: 0.9rem;
    margin-top: -0.2rem;
}
.userbox span a:nth-of-type(2) img{
	width: 0.5rem;
	height: 0.2rem;
	position: absolute;
	top: 0.05rem;
}
.userbox span a:nth-of-type(2){
	font-size:0.25rem;
	text-align: center;
	margin-top: 0.2rem;
	height: 0.8rem;
	margin-left: 0.115rem;
}
.userbox span a:nth-of-type(3){
	position: absolute;
	width: 1.6rem;
	overflow: hidden;
	top: 0.1rem;
}
#divdown1{
	width: 100%;
	text-align: center;
	font-size: 0.4rem;
	margin:0.3rem 0;
	position: absolute;
	top: 1.45rem;
	color: #fbfd59;
}
#teambtn{
	width: 91%;
	display: block;
	margin: 0.3rem auto;
	background-color: #7534e3;
	padding: 0.3rem 0.2rem;
	border-radius: 30px;
	text-align: center;
	color: #FFF;
	font-size: 0.3rem;
	border: none;
}
.team{
	width: 86%;
	display: block;
	margin: 0.3rem auto;
	background-color: #ffa352;
	padding: 0.3rem 0.2rem;
	border-radius: 20px;
	text-align: center;
	color: #FFF;
	font-size: 0.3rem;
	border: none;
}
.invite{
	padding:0 0.2rem;
	height: 1.5rem;
	position: relative;
}
.invite p:nth-of-type(1){
	line-height: 0.5rem;
	font-size: 0.3rem;
	padding-top: 0.15rem;
}
.invite p:nth-of-type(2){
	line-height: 0.7rem;
}
.invite p:nth-of-type(2) span{
	display: inline-block;
	margin-right: 0.15rem;
}
.invite p:nth-of-type(2) span a:nth-of-type(1){
	font-size: 0.3rem;
}
.invite p:nth-of-type(2)  span a:nth-of-type(1) img{
	width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    margin-top: -0.08rem;
    margin-right: 0.1rem;
    margin-left: 0.05rem;
}
.invite p:nth-of-type(2) span a:nth-of-type(2){
	font-size: 0.3rem;
}
.invite b{
	position: absolute;
	right: 0.2rem;
	top: 0.35rem;
}
.invite b img{
	width: 0.2rem;
	height: 0.3rem;
	display: inline-block;
}
.bottom p{
	padding-left:0.4rem;
	font-size: 0.32rem;
	color: #333;
	margin-bottom:0.1rem;
}
.bottom ul{
	padding:0 0.61rem;
	font-size: 0.28rem;
	color: #999;
}
.bottom ul li{
	margin:0.2rem 0;
}
/*.bottom ul:nth-of-type(1) li:nth-of-type(2){
	margin-left: 1.6rem;
}
.bottom ul:nth-of-type(2) li:nth-of-type(2){
	margin-left: 2.55rem;
}*/
.alert{
	width: 1rem;
	height: 0.7rem;
	background-color: red;
	margin: 0 auto;
}
.jieguo{
	font-size: 0.4rem;
	position: absolute;
	text-align: center;
	top: 3.1rem;
	color: #ffb638;
	width: 100%;
	text-align: center;
	letter-spacing: 0.07rem;
}
.boximg{
	width: 100%;
	background-color: #fff7dd;
	position: fixed;
	bottom: 0;
	display: -webkit-box;
	height: 1.2rem;
	z-index: 5;
}
.boximg span{
	display: block;
	-webkit-box-flex:1;
}
.boximg span:nth-of-type(1) img{
	width: 62%;
    margin-left: 0.1rem;
    margin-top: 0.23rem;

}
.boximg span:nth-of-type(2) img{
	width: 64%;
    margin-top: 0.3rem;
    margin-left: 0.8rem;
}
.pic{
	padding-left: 0.2rem;
	-webkit-tap-highlight-color:rgba(255,255,255,0)
}
.pic dl{
    transition: all .3s ease;
    width: 100%;
    height: 2.6rem;
    position: relative;
}
.pic dl dt{
	height: 1.6rem;
}
.pic dl dt img{
	width: 100%;
}
.pic dl dd{
	font-size: 0.28rem;
	color: #333;
	position: absolute;
	bottom: 0rem;
}
.pic .swiper-slide{
	background:#fff;
	padding: 0.2rem;
	text-align: center;
	width: 2.5rem
}
.layer{
	width: 69%;
	height: 5.9rem;
	position: absolute;
	top: 3.4rem;
	left: 1.1rem;
	margin: 0 auto;
	z-index: 5;
	background: url(../img/52.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.clos{
	position: absolute;
    top: -0.4rem;
    right: -0.3rem;
    width: 0.9rem;
    height: 0.9rem;
}
.layer p:nth-of-type(1){
	width: 70%;
    text-align: center;
    font-size: 0.28rem;
    color: #7534e3;
    margin: 0 auto;
    margin-top: 1rem;
}
.layer p:nth-of-type(2) input{
	width: 86%;
    margin: 0 auto;
    display: block;
    height: 0.8rem;
    border-radius: 30px;
    border: none;
    margin-top: 0.4rem;
    padding-left: 0.3rem;
}
.cal{
	position: absolute;
    bottom: 1.5rem;
    font-size: 0.28rem;
    left: 1rem;
    color: #333;
}
.sure{
	position: absolute;
	right: 1rem;
	bottom: 1.5rem;
	font-size: 0.28rem;
	color: #7534e3
}
.userboxa{
	width: 500%;

}



























